main {
    min-height: 93vh;
    padding: 3vh 5vw;
    box-sizing: content-box;
    background-color: hsl(0, 0%, 98%);
}

.input-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input:focus {
    outline: none;
}

input {
    height: 50px;
    width: 250px;
    padding: 0 15px;
    border: 0;
    box-sizing: content-box;
    background-color: white;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.01);
    -webkit-box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.01); 
    -moz-box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.01); 
}

.countries-list {
    padding: 3vh 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
}

.country-tile {
    height: 330px;
    width: 250px;
    margin: 4vh 2vw;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;

    img {
        width: 250px;
        height: 170px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    h4 {
        margin: 2vh;
    }

    b {
        margin-left: 2vh;
        font-size: 13px;
    }
    span {
        font-size: 13px;
    }
}

@media only screen and (max-width: 650px) {
    .input-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .countries-list {
        justify-content: center;
    }
}