<app-header></app-header>
<main>
    <table>
        <tr>
            <td><input type="search" placeholder="Search for a country..." #countrySearch (input)="searchedCountry(countrySearch.value)"></td>
            <td>
                <input list="regions" name="region" #region (change)="selectedRegion(region.value)" placeholder="Filter by region">
                <datalist id="regions">
                    <option value="Africa">
                    <option value="Americas">
                    <option value="Asia">
                    <option value="Europe">
                    <option value="Oceania">
                </datalist>
            </td>
        </tr>
    </table>
    <div class="countries-list">
        <div *ngFor="let country of displayCountries">
            <div class="country-tile">
                <img src={{country.flag}} alt="{{country.name + '-flag'}}"> 
                <h4>{{country.name}}</h4>
                <b>Population: </b><span>{{country.population}}</span><br>
                <b>Region: </b><span>{{country.region}}</span><br>
                <b>Capital: </b><span>{{country.capital}}</span><br>
            </div>
        </div>
    </div>
</main>
