<app-header></app-header>
<main>
    <table>
        <tr>
            <td><input type="search" placeholder="Search for a country..."></td>
            <td>
                <input list="regions" name="region" id="region" placeholder="Filter by region">
                <datalist id="regions">
                    <option value="Africa">
                    <option value="America">
                    <option value="Asia">
                    <option value="Europe">
                    <option value="Oceania">
                </datalist>
            </td>
        </tr>
    </table>
</main>
